<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="maincontent">
        <h1>Send us feedback</h1>

        <% if(locals.errors){%>
        <div class="alert alert-danger">
          <ul>
            <% errors.forEach(function(error){%>
            <li><%= error.msg%></li>
            <% })%>
          </ul>
        </div>
        <%} else if(locals.successMsg){%>
            <div class = "alert alert-success">
              <%= successMsg %> 
            </div>
            <% } %> 
          <form class="feedback-form" method="POST" action="/feedback">
            <div class="form-group">
              <label for="feedback-form-name">Name</label>
              <input
                type="text"
                class="form-control"
                id="feedback-form-name"
                name="name"
                placeholder="Enter your name"
              />
            </div>
            <div class="form-group">
              <label for="feedback-form-email">E-Mail</label>
              <input
                type="text"
                class="form-control"
                id="feedback-form-email"
                name="email"
                placeholder="Enter your email address"
              />
            </div>
            <!-- phone number -->
            <div class="form-group">
              <label for="feedback-form-phoneNumber">Phone Number</label>
              <input
                type="tel"
                class="form-control"
                id="feedback-form-phoneNumber"
                name="phoneNumber"
                placeholder="Phone Number"
                />
                <!-- pattern="/^\\(?([0-9]{3})\\)?[-.\\s]?([0-9]{3})[-.\\s]?([0-9]{4})$/" -->
              </div>

            <!-- date of party -->
            <div class="form-group">
              <label for="feedback-form-dateOfParty">Date of Party</label>
              <div id="form-dateOfParty" class="md-form md-outline input-with-post-icon datepicker" inline="true">
                <input 
                type="date" 
                id="feedback-form-dateOfParty"
                name="dateOfParty"
                class="form-control"
                />

                <i class="fas fa-calendar input-prefix"></i>

                
              </div>
            </div>
            <button type="submit" class="btn btn-secondary float-right">Submit</button>
          </form>
        </div>
      </div>
      <aside class="col-md-8">
        <div class="maincontent feedback">
          <h1>Recent Feedback</h1>
          <div class="feedback-items">
            <% feedback.forEach(function (item){ %>
            <div class="feedback-item item-list media-list">
              <div class="feedback-item media">
                <div class="feedback-info media-body">
                  <div class="feedback-head">
                    <div class="feedback-name"><%= item.name %></div>
                    <div class="feedback-email"><%= item.email %></div>
                    <div class="feedback-phoneNumber"><%= item.phoneNumber %></div>
                    <div class="feedback-dateOfParty"><%= item.dateOfParty %> </div>
                </div>
              </div>
            </div>
            <% })%>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
